@model IEnumerable<WebApplication1.Models.Alunos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aImagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aImagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.aID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.aID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.aID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
